.heading{
    color:blueviolet;
    margin-top: 20px;
  }

.btn{
    background-color: blueviolet;
    border: 2px solid blueviolet;
    
}

.btn:hover{
    background-color: rgb(172, 106, 234);
    border: 2px solid blueviolet;

}

.btn{
    background-color: blueviolet;
    border: 2px solid blueviolet;
    color: white;
}

.btn:hover{
    background-color: rgb(172, 106, 234);
    border: 2px solid blueviolet;
    color: white;
}

.btn{
    margin: 10px;
}

.count{
    margin-top: 30px;
}